/*
crispr-process-nf nextflow config
*/

params {
    inputDir = '01_raw'
    outputDir = 'results'
    library = 'library.txt'
	barcodes = 'barcodes.txt'
	barcode_demux_mismatches = 0
	barcode_length = 4
	spacer_seq = 'TTCCAGCATAGCTCTTAAAC'
	guide_length = 21
	padding_beginning = 'ACC'
    add_unknown_to_fastqc = false
}


profiles {

    standard {
        includeConfig 'conf/resources.config'
    }

    singularity {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
    }

    cbe {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/singularity.config'
        includeConfig 'conf/cbe.config'
    }
	
}
