/*
crispr-process-nf nextflow config
*/

params {
    	testMode = false
    	inputDir = 'raw'
    	outputDir = 'results'
    	reverse_complement = false
    	library = 'library.txt'
	barcodes = 'barcodes.txt'
	barcode_random_length = 2
	barcode_demux_mismatches = 1
	barcode_length = 4
	spacer_length = 20
	padding_base = 'C'
}


profiles {

    standard {
        includeConfig 'conf/resources_low.config'
    }

    conda {
        includeConfig 'conf/resources_low.config'
        process.conda =  '/users/florian.andersch/miniconda3/envs/crispr-process/'
    }

    low_ressources_cbe {
        includeConfig 'conf/resources_low.config'
        process.conda =  '/users/florian.andersch/miniconda3/envs/crispr-process/'
        includeConfig 'conf/cbe.config'
    }
    medium_ressources_cbe {
        includeConfig 'conf/resources_medium.config'
        process.conda =  '/users/florian.andersch/miniconda3/envs/crispr-process/'
        includeConfig 'conf/cbe.config'
    }
    high_ressources_cbe {
        includeConfig 'conf/resources_high.config'
        process.conda =  '/users/florian.andersch/miniconda3/envs/crispr-process/'
        includeConfig 'conf/cbe.config'
    }
	
}
