/*
Resource management
*/

process {

    // error strategy
    maxRetries = 3

    // basic resources
    cpus = 1
    time = { 1.h * task.attempt }
    memory = { 1.GB * task.attempt }

    // process-specific resources
    withName: bam_to_fastq {
        cpus = 2
        time = { 2.h * task.attempt }
    }
    withName: trim_random_barcode {
        cpus = 2
        time = { 6.h * task.attempt }
    }
    withName: demultiplex {
        cpus = 2
        time = { 4.h * task.attempt }
    }
    withName: trim_barcode_and_spacer {
        cpus = 2
        time = { 6.h * task.attempt }
    }
    withName: align {
        cpus = { 6 * task.attempt }
        memory = { 3.GB * task.attempt }
    }
    withName: fastqc {
        time = { 2.h * task.attempt }
        memory = 10.GB
    }
    withName: count {
        cpus = 2
        memory = { 3.GB * task.attempt}
    }
    withName: combine_counts {
        memory = { 10.GB * task.attempt}
    }
}

timeline {
    enabled = true
}
