/*
Resource management
*/

process {

    // error strategy
    maxRetries = 3

    // basic resources
    cpus = 1
    time = { 1.h * task.attempt }
    memory = { 1.GB * task.attempt }

    // process-specific resources
    $bam_to_fastq {
        cpus = 2
        time = { 2.h * task.attempt }
    }
    $trim_random_barcode {
        cpus = 2
        time = { 2.h * task.attempt }
    }
    $demultiplex {
        cpus = 2
        time = { 2.h * task.attempt }
    }
    $trim_barcode_and_spacer {
        cpus = 2
        time = { 2.h * task.attempt }
    }
    $align {
        cpus = { 6 * task.attempt }
        memory = { 3.GB * task.attempt }
    }
    $fastqc {
        time = { 2.h * task.attempt }
        memory = 10.GB
    }
    $count {
        cpus = 2
        memory = { 3.GB * task.attempt}
    }
    $combine_counts {
        memory = { 10.GB * task.attempt}
    }
}

timeline {
    enabled = true
}
