/*
Resource management
*/

process {
    errorStrategy='retry'
    maxRetries=3

    // basic resources
    cpus = { 2 * task.attempt }
    time = { 1.h * task.attempt }
    memory = { 4.GB * task.attempt }

    // process-specific resources
    withName: bam_to_fastq {
        cpus = { 32 * task.attempt }
        time = { 2.h * task.attempt }
    }
    withName: process_barcodes {
        time = { 1.h * task.attempt }
    }
    withName: trim_random_barcode {
        cpus = { 32 * task.attempt }
        time = { 2.h * task.attempt }
        memory = { 40.GB * task.attempt }
    }
    withName: demultiplex {
        cpus = { 32 * task.attempt }
        time = { 2.h * task.attempt }
        memory = {20.GB * task.attempt }
    }
    withName: trim_barcode_and_spacer {
        cpus = { 8 * task.attempt }
        memory = { 20.GB * task.attempt }
    }
    withName: align {
        cpus = { 4 * task.attempt }
    }
    withName: fastqc {
        cpus = { 16 * task.attempt }
        memory = { 10.GB * task.attempt }
    }
    withName: count {
        cpus = { 16 * task.attempt }
    }
}

timeline {
    enabled = true
}
